body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(135deg, rgba(185,234,255,1) 17%, rgba(255,255,212,1) 79%);
}

.container{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

.calc{
    display: grid;
    grid-template-columns: repeat(4, 70px);
    border: 6px solid #636689;
    background-color:#f1f4fd;
    border-radius: 15px 15px 30px 30px;
    box-shadow: 20px 20px 20px 0px  #3239324f;
}


.solr{
    display: flex;
align-items: flex-end;
border: 1px solid black;
margin-top: 40px;
margin-left: 175px;
width:100%;
letter-spacing: 6px;
justify-content: space-evenly;
padding-left: 6px;
background-color: #4F342D;
border-radius: 5px;
}
input{
    grid-column: span 4;
    background-color:#c8d5d6;
    color: #666A9C;
    text-align: end;
    height: 50px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 30px;
    margin: 20px 20px 50px 20px;

}

button{
    border-radius: 10px 10px 25px 25px;
    height: 25px;
    width:50px;
    margin: 10px;
    font-weight: 600;
    font-size: 15px; 
    border: 0.5px solid black;
    box-shadow:  -2px -2px 8px rgba(255, 255, 255, 1),
                 -2px -2px 12px rgba(255, 255, 255, 0.5),
                 inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                 inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

button:hover
{
box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
             inset -2px -2px 12px rgba(255, 255, 255, 0.5),
             inset 2px 2px 4px rgba(255, 255, 255, 0.1),
             inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

#dlt{
background-color: #f5a057;

}
#clr{
    background-color: #f5a057;
}